---
import './Form.css'
---

<div class="container">
    <div class="box-info">
        <h1>CONNECT WITH US</h1>
        <div class="data">
            <p><i class="fa-solid fa-phone"></i> +1 123 456 7890</p>
            <p><i class="fa-solid fa-envelope"></i> staffertest@gmail.com</p>
            <p><i class="fa-solid fa-location-dot"></i>  San Francisco, USA</p>
        </div>
        <div class="links">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    <form id="contactForm">
        <div class="input-box">
            <input type="text" name="name" id="name" placeholder="Name" required>
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="input-box">
            <input type="email" name="email" id="email" required placeholder="Email">
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="input-box">
            <input type="text" name = "subject" id="subject" placeholder="Subject">
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
        <div class="input-box">
            <textarea id="message" name="message" placeholder="Enter message..." maxlength="500"></textarea>
        </div>
        <button type="submit">Send message</button>
    </form>
</div>

<script is:inline>
  
    document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("contactForm");

    if (!form) {
        console.error("Form not found.");
        return;
    }

    form.addEventListener("submit", async function (e) {
        e.preventDefault();

        const formData = new FormData(this);
        const data = Object.fromEntries(formData.entries());

        try {

            const response = await fetch('https://script.google.com/macros/s/AKfycbxiBDblzYr8YSAPzq8LQCZJpkaj0jexKpsivPSeQMGXgi_fdweO4bT2s8Fj9_1GPC9knw/exec', {
                redirect: "follow",
                method: "POST",
                body: JSON.stringify(data),
                headers: { "Content-Type": "text/plain;charset=utf-8" },
            });

            const result = await response.json();
            console.log(result);

            if (result.status === "success") {
                alert("Message sent successfully.");
                this.reset();
            } else {
                alert("Error sending message.");
            }
        } catch (error) {
            console.error("Error:", error);
            alert("Error sending message.");
        }
    });
});

</script>

</body>
</html>