body {
  background-color: #F3E9D2;
  font-family: "EB Garamond", Garamond, serif;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 120px; 
}

.title {
  margin: 90px 0 30px 0;
  max-width: 80%;
  font-size: clamp(28px, 4vw, 40px);
  font-weight: 700;
  line-height: 1.3;
  color: #2F4435;
}

.content-info {
  max-width: 80%;
  text-align: justify;
  margin: 0 auto;
  display: block;
}

.second-section {
  margin-top: 20px;
  margin-bottom: 80px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  padding-left: 0px;
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
}

.second-section::-webkit-scrollbar {
  display: none; 
}

body, html {
  overflow-x: hidden;
}

.content-info {
  max-width: 80%; 
  text-align: justify; 
  margin-left: 0;
}

.title, .subtitle, .description {
  position: relative;
  z-index: 1;
}

.subtitle,
.description {
  text-align: start;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.subtitle {
  font-size: clamp(20px, 2vw, 30px);
  font-weight: 600;
  color: #8C5E3C;
  line-height: 1.4;
  margin-bottom: 0px;
}

.description {
  font-size: clamp(16px, 1.5vw, 24px);
  font-weight: 400;
  color: #5C6B5C;
  max-width: 80ch;
  line-height: 1.6;
  margin-bottom: 80px;
  margin-top: 10px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
  max-width: 50%; 
  flex-shrink: 0;
  align-self: auto;
  margin: auto 0;
  padding-right: 50px;
}

.image img {
  width: 100%;
  max-width: 400px;
  min-width: 150px; 
  height: auto;
  border-radius: 20%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}


/*Animaciones en CSS*/
.custom-button:hover {
  background-color: #A08A6F;
  transform: scale(1.05);
}

.cursor {
  font-weight: bold;
  color: #2F4435;
  animation: blink 1s infinite;
}

/* Para pantallas de 1300px o menos */
@media (max-width: 1300px) {
  .content-wrapper {
      padding-left: 60px;
      align-items: center;
  }

  .title {
      text-align: center;
      font-size: clamp(26px, 4vw, 36px);
      margin: 60px 0 20px 0;
      max-width: 90%;
  }

  .content-info {
      max-width: 90%;
      text-align: justify;
      margin: 0 auto;
  }

  .second-section {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
  }

  .image {
      max-width: 60%;
      padding-right: 0;
      margin-top: 20px;
  }

  .image img {
      max-width: 350px;
      min-width: 120px;
  }

  .button-secondSection {
      align-self: center;
      margin-top: 20px;
  }
}

/* Para pantallas de 900px o menos */
@media (max-width: 900px) {
  .content-wrapper {
      padding-left: 20px;
      padding-top: 10px;
      margin-top: 15vh;
  }

  .title {
      font-size: clamp(24px, 4vw, 32px);
      text-align: center;
      max-width: 95%;
      margin: 40px auto;
  }

  .content-info {
      max-width: 95%;
      text-align: justify;
  }

  .subtitle {
      font-size: clamp(18px, 2vw, 28px);
      margin-top: 10px;
  }

  .description {
      font-size: clamp(14px, 1.5vw, 22px);
  }

  .image {
      max-width: 70%;
      margin-top: 20px;
  }

  .image img {
      max-width: 300px;
      min-width: 100px;
      margin-bottom: 40px;
  }
}

/* Para pantallas de 600px o menos (Móviles) */
@media (max-width: 600px) {
  .content-wrapper {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
  }

  .title {
      font-size: clamp(22px, 5vw, 28px);
      text-align: center;
      max-width: 100%;
  }

  .content-info {
      max-width: 100%;
  }

  .subtitle {
      font-size: clamp(16px, 4vw, 24px);
  }

  .description {
      font-size: clamp(12px, 3vw, 20px);
  }

  .image {
      max-width: 80%;
  }

  .image img {
      max-width: 250px;
      min-width: 100px;
  }
}


