body {
    background-color: #2F4435;
    font-family: "EB Garamond", Garamond, serif;
}

.images {

    display: block;	
}
.non-full {
    width: 300px;
    height: auto;
    display: block;
}
.full-width-image {
width: 80vw;
height: auto;
display: flex;
}

h1 {
    font-size: 3rem;
    padding-top: 80px;
    text-align: center;
}