---
import AnimatedSubtitle from "../components/Animation/AnimatedSubtitle";
import AnimatedTitle from "../components/Animation/AnimatedTitle";
import Layout from '../layouts/Layout.astro';
import "../styles/about.css";
---

<head>
  <title>Staffer | About</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap" rel="stylesheet">
</head>

<Layout>
  <body>
    <section class="first-section">
      <div class="content-wrapper">
        <h1 class="title">

          <AnimatedTitle text="Staffer was created out of a need for personalized staffing solutions for American companies." delay={0} typingSpeed={20} client:idle />
          <br>
          <AnimatedTitle text="With a small team of dedicated recruiters, account managers, and support on staff we pride ourselves in open communication, professional staffing, and personal relationships with our candidates and clients." delay={2500} typingSpeed={20} client:idle />
          <br>
          <AnimatedTitle text="Too often our competitors send you resumes and write ups that are copied and pasted to hundreds of positions. We want to change that. At Staffer we believe your job is the highest priority." delay={7100} typingSpeed={20} client:idle />
        </h1>
      </div>
    </section>
  
    <section class="second-section">
      <AnimatedSubtitle 
        title="Meet the Founder"
        description="Staffer was founded by Robert A. Contreras following a career as a recruiter for two separate insurance recruiting firms.  Graduating with a Bachelor's degree in Business Administration from The Master's University Robert strives for a new future in the staffing and recruiting world. His vision for Staffer is for personalized connections with both candidates and clients tailoring the right fit for every position is met. The goal is to make Staffer the premier staffing agency for any needs, nationwide."
        imageSrc="/images/MEET_THE_FOUNDER.jpg"
        altText="Our Founder"
        client:idle
      />
    </section>
  </body>
</Layout>
