---
import AnimatedTitle from "../components/Animation/AnimatedTitle";
import "../styles/about.css"; // Importamos los estilos
import Navbar from "../components/Navbar/Navbar.astro";
import AnimatedSubtitle from "../components/Animation/AnimatedSubtitle";
import Footer from "../components/Footer/Footer.astro";
---
<Navbar client:load/>
<head>
  <title>About us</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Jersey+15&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>

	<section class="first-section">
    <div class="content-wrapper">
        <h1 class="title"><AnimatedTitle client:idle/></h1>
    </div>
</section>

  <section class="second-section">
            <AnimatedSubtitle client:idle/>
  </section>

  <Footer></Footer>
</body>
