---
import AnimatedSlideInText from "../components/Animation/AnimatedSlideInText";
import AnimatedTitle from "../components/Animation/AnimatedTitle";
import AnimatedSlideInButton from "../components/Animation/AnimatedSlideInButton";
import AnimatedFadeInImage from "../components/Animation/AnimatedFadeInImage";
import Layout from '../layouts/Layout.astro';
import "../styles/careers.css";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<head>
    <title>Careers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap" rel="stylesheet">
  </head>
<Layout>
    <header>
    <div class="first-container">
            <h1 class="title">
                <AnimatedTitle text={"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel minima dicta minus odit sapiente."} client:load/>
            </h1>
    </div>
  </header>
<section>
    <div class="second-section-wrapper">
        <div class="second-container">
            <h2 class="second-title">
                <AnimatedSlideInText text={"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, minima et."} 
                client:load/>
            </h2>
            <p class="second-paragraph">
                <AnimatedSlideInText text={"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas aspernatur velit quae voluptate atque, esse placeat eligendi. Alias, ut magnam? Impedit autem nulla nam doloribus totam quibusdam. Dicta sint optio quas a, delectus explicabo soluta in fuga illum. Odio, esse!"} 
                client:load/>
            </p>
            <AnimatedSlideInButton 
                text="Inicio" 
                onClick={() => window.location.href='index.html'} 
                className="button-secondSection" 
                client:load/> 
        </div>
        <div class="image-secondSection">
            <AnimatedFadeInImage 
                src="/images/staffer.1a1110.png" 
                alt="Imagen descriptiva"
                className="image-secondSection"
                client:load/>
        </div>
    </div>
    </section>
</Layout>