---
import AnimatedFadeInImage from "../components/Animation/AnimatedFadeInImage";
import AnimatedSlideInButton from "../components/Animation/AnimatedSlideInButton";
import AnimatedSlideInText from "../components/Animation/AnimatedSlideInText";
import AnimatedTitle from "../components/Animation/AnimatedTitle";
import Layout from '../layouts/Layout.astro';
import "../styles/careers.css";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<head>
    <title>Staffer | Careers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap" rel="stylesheet">
</head>
<Layout>
    <header>
    <div class="first-container">
            <h1 class="title">
                <AnimatedTitle text={"Current Openings"} client:load/>
            </h1>
    </div>
  </header>
<section>
    <div class="second-section-wrapper">
        <div class="second-container">
            <h2 class="second-title">
                <AnimatedSlideInText text={"Oops, we haven't updated our jobs yet! Check our LinkedIN page for updated postings!."} 
                client:load/>
            </h2>

            <AnimatedSlideInButton 
                text="BACK" 
                href='/' 
                className="button-secondSection" 
                delay={0} 
                client:load/> 
        </div>
    </div>
    </section>
</Layout>