---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form/Form.astro';
import '../styles/contact.css'
---
<head>
    <title>Staffer | Contact</title>
</head>
<Layout>
    <body>
        <Form></Form>
    </body>
</Layout>