---
import AnimatedFadeInImage from "../components/Animation/AnimatedFadeInImage.jsx";
import TitleTransition from "../components/Animation/TitleTransition.jsx";
import Layout from '../layouts/Layout.astro';
import '../styles/index.css';
<<<<<<< Updated upstream
import AnimatedTitle from '../components/Animation/AnimatedTitle';
import AnimatedSlideInButton from "../components/Animation/AnimatedSlideInButton";
=======
>>>>>>> Stashed changes
---



<Layout>  
  <section class="content">
    
    <TitleTransition
      title="Welcome to Staffer"
      titleClass="first-title"
      icon="▼"
      iconClass="scroll-icon"
      client:idle
    />

    <TitleTransition
      title="Boost Your Vision"
      titleClass="second-title"
      icon="▼"
      iconClass="scroll-icon"
      client:load
    />
    

    <AnimatedFadeInImage 
        src="/images/Staffer_Header_V2.png" 
        alt="Descriptive image"
        className="full-width-image"
        client:load
    />

    <!-- Imagen de ancho completo <img src="/images/Staffer_Header_V2.png" alt="Staffer Header" class="full-width-image"> -->

    <h3 class="info-redirect-contact">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. 
      Fusce auctor lacus at sapien tincidunt, nec varius metus rhoncus. Integer
       auctor, odio ac suscipit congue consequat.
    </h3>

    <AnimatedSlideInButton 
                text="CONTACT US" 
                href='/contact'
                className="button-secondSection" 
                client:load/> 

    <!-- Contenedor de imagen y texto -->
    <div class="image-text-container">
      <img src="/images/STAFFER_AD_2.28.png" alt="Staffer" class="rounded-image">
    
      
      <p class="side-text">
        Innovation starts here. With tools designed to enhance  
        your productivity and strengthen your connections,  
        Staffer takes you to the next level.
      </p>
    </div>
  </section>
</Layout>
