---
import Navbar from '../components/Navbar/Navbar';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Sitio Web</title>
</head>
<body>
    <!-- Incluye la barra de navegación -->
    <Navbar client:load />

    <footer>
        <p>&copy; 2023 Mi Sitio Web</p>
    </footer>
</body>
</html>